[submodule "doc"]
	path = doc
	url = https://chuck1@github.com/chuck1/Nebula-doc.git
[submodule "Galaxy-Network"]
	path = Galaxy-Network
	url = https://chuck1@github.com/chuck1/Galaxy-Network.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "Galaxy-Standard"]
	path = Galaxy-Standard
	url = https://chuck1@github.com/chuck1/Galaxy-Standard
[submodule "Galaxy-Log"]
	path = Galaxy-Log
	url = https://github.com/chuck1/Galaxy-Log
[submodule "maze"]
	path = maze
	url = http://chuck1@github.com/chuck1/maze
