[submodule "components/fnd0"]
	path = components/fnd0
	url = git@bitbucket.org:chuck1/Nebula-Core.git
[submodule "components/fnd1"]
	path = components/fnd1
	url = git@bitbucket.org:chuck1/Nebula-Fnd1.git
[submodule "components/python"]
	path = components/python
	url = git@github.com:chuck1/Nebula-Python.git
[submodule "mod"]
	path = mod
	url = git@github.com:chuck1/Nebula-Ext.git
[submodule "external/Galaxy"]
	path = external/Galaxy
	url = git@github.com:chuck1/Galaxy.git


[submodule "external/glfw"]
	path = external/glfw
	url = http://github.com/glfw/glfw.git
[submodule "external/glm"]
	path = external/glm
	url = http://github.com/g-truc/glm
[submodule "external/maze"]
	path = external/maze
	url = git@github.com:chuck1/maze
[submodule "external/cmake"]
	path = external/cmake
	url = git@github.com:chuck1/cmake
[submodule "external/cmake_find"]
	path = external/cmake_find
	url = git@github.com:chuck1/cmake_find
[submodule "plugin/gfx1"]
	path = plugin/gfx1
	url = git@github.com:nebula-engine/Nebula-Graphics
[submodule "plugin/phx1"]
	path = plugin/phx1
	url = git@github.com:chuck1/Nebula-PhysX.git
[submodule "plugin/net1"]
	path = plugin/net1
	url = git@github.com:chuck1/Nebula-Network.git

